* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

label {
  display: block;
  position: absolute;
  left: -9999px;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.header {
  background-image: url("images/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.background {
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10%;
  background-image: url(images/bg-contact-form.png);
  background-repeat: no-repeat;
  background-position: bottom 0.5% right;
}

.container {
  width: 100%;
  max-height: 474px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding-bottom: 1em;
}

.skills-container {
  margin-top: 4em;
}

.toolbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#menuList {
  position: fixed;
  display: none;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 9998;
}

.track-list li {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #3a4a42;
  padding: 8px 12px;
  margin: 2px;
  background-color: #ebf0ee;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

#menuList.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-left: 4%;
  padding-top: 25%;
  height: 100vh;
}

.menu-bar {
  display: flex;
  justify-content: left;
  padding: 2rem;
}

#closeButton {
  display: none;
}

.close-button {
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  display: none;
  font-size: 32px;
  transition: opacity 0.3s;
  margin-right: 35px;
  margin-top: 35px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.headline li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 5%;
}

#menuList.open ~ #menuIcon {
  display: none;
}

#menuList.open ~ #closeIcon {
  display: block;
}

.skill-list li {
  background-color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 8px;
  color: #36b37e;
  flex-wrap: wrap;
  margin: 5px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-size: 12px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.flex-list li {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #3a4a42;
  padding: 8px 12px;
  margin: 2px;
  background-color: #cfd2d1;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

#menuList.open li {
  color: var(--theme-2-neutral-2, #3a4a42);
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 40px;
  font-family: 'inter', sans-serif;
}

#menuList.open li a {
  color: #3a4a42;
}

head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-size: 0.5rem;
}

.headline ul {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  margin: 3rem 4rem;
}
.headline h2 {
  margin-top: 3rem;
  font-size: 2rem;
}
.headline span {
  color: #008552;
}
.headline p {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
}
.arrow-btn {
  margin-top: 6em;
  transition: all 0.5s ease-out;
}

.arrow-btn:hover {
  background-color: #1380ec;
  border-radius: 50%;
}

.headline img {
  height: 20px;
  width: 20px;
}

.primary {
  clear: right;
  text-align: center;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  align-items: center;
  margin-top: 2rem;
  padding: 10px;
}

@keyframes font-color-change {
  from {
    color: #ac064b;
  }

  50% {
    color: blue;
  }

  75% {
    color: rgb(250, 6, 6);
  }

  100% {
    color: rgb(255, 187, 0);
  }
}

.headline p {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 2em 2em;
  animation-duration: 3s;
}

.social-media ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media img {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.normal-button {
  margin-top: 100px;
}

.my-recent-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 10%;
}

.my-work {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  margin-bottom: 1em;
  
  display: flex;
  flex-wrap: wrap;
}

.my-work:hover {
  animation-name: font-color-change;
  animation-duration: 3s;
}

.grid-container {
  display: grid;
  gap: 10px;
  place-items: center;
  justify-content: center;
  margin-top: 3em;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  height: 80vh;
  display: flex;
  flex-direction: column;
  border: #d0d9d4 solid 1px;
  padding: 0;
  margin: 1em;
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;;
}
.card:hover {
  transform: scale(1.07);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.upper-row {
  background-color: #ebf0ee;
  width: 100%;
  max-width: 350px;
  min-height: 50%;
  height: 60%;
  border: #d0d9d4 1px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.upper-row img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
.lower-row {
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  border: #d0d9d4 1px;
  max-width: 350px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.lower-row ul {
  display: flex;
}

h3 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #3a4a42;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 2% 2%;
}

.flex-list {
  list-style-type: none;
  padding: 0;
  margin-top: 1em;
  justify-content: center;
}

.button {
  display: flex;
  background-color: #36b37f;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: width 2s, height 2s, background-color 2s;
}

.button:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  animation-name: btn-change;
  animation-duration: 1s;
}

.button:active {
  background-color: #008552;
}

@keyframes btn-change {
  from {
    background-color: #008552;
  }

  to {
    background-color: #172b4d;
  }
}

.line {
  height: 7px;
  width: 70px;
  background-color: #36b37e;
  border-radius: 20px;
  margin-bottom: 3em;
}

.about-me-sections {
  display: flex;
  flex-direction: column;
  margin: 0 3em;
}

.my-skills {
  background-color: #ebf0ee;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 316px;
  padding: 2%;
  margin: 2% 2%;
  width: 327px;
}

.my-skills:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgb(0.68, 0.167, 0.3);
  transform-origin: center center;
}

.my-skills h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  position: relative;
  bottom: 1em;
}

.my-skills img {
  margin-top: 2em;
}

.skill-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-bottom: 8%;
  margin-top: 0;
  flex-wrap: wrap;
}

.about-me {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
  color: #172b4d;
  background-image: url("images/about-me\ back.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: auto;
}

.about-me button {
  height: 100%;
  width: fit-content;
  border-radius: 4px;
  padding: 1em;
  background-color: #36b37f;
  border: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.about-me button:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  animation-name: btn-change;
  animation-duration: 2s;
}

.about-me button:active {
  background-color: #008552;
}

.about-me p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  padding: 20px;
  margin: 0 2em;
}

.contact-me {
  display: flex;
  flex-direction: column;
}

.get-in-touch {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  overflow: hidden;
}

.para {
  margin: 10% 10% 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6b778c;
  width: 100%;
}

form input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  padding: 1%;
  font-style: italic;
  width: 75%;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  color: #6b778c;
  font-family: 'Inter', sans-serif;
}

textarea {
  margin: 1em 0.5em;
  padding: 3%;
  font-style: italic;
  color: #6b778c;
  width: 71%;
  border: 1px solid #60c095;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border-radius: 4px;
}

.email {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin: 1em 0;
  color: #42526e;
}

#firstName,
#lastName {
  display: none;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.popup-container .close {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  background-color: transparent;
}

.close2 {
  display: none;
}

.track-container {
  display: flex;
  flex-direction: column;
}

.track-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  display: inline-block;
}

.popup-content {
  overflow-x: hidden;
}

.track-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: left;
}

.track-para {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

#track-header {
  color: #172b4d;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.track-buttons {
  margin-top: 20px;
}
.track-header-desktop {
  display: none;
}

.track-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.btn1,
.btn2 {
  display: inline-flex;
  padding: 15px 20px;
  background-color: #36b37e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
  width: auto;
}

.btn1 img,
.btn2 img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

.track-img2 {
  display: none;
}

.bt1,
.bt2 {
  display: none;
}

h4 {
  display: flex;
  font-size: 24px;
  color: #172b4d;
}

@media (min-width: 768px) {
  #menuList {
    display: flex;
    padding-bottom: 2rem;
    position: relative;
  }
  #menuList a {
    color: #008552;
    font-weight: bold;
    font-size: 1rem;
  }

  #menuList a:hover {
    text-decoration: underline;
  }
  
  .header {
    background-image: url("images/Header-llustration-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }

  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20%;
  }

  .primary {
    margin-top: 3em;
    width: fit-content;
  }

  .toolbar {
    background-color: white;
    width: 100%;
    z-index: 9999;
  }

  .toolbar a {
    margin: 0;
    padding: 0;
    color: #172b4d;
    font-family: 'inter', sans-serif;
  }

  .menu-bar {
    position: relative;
    left: 2%;
    line-height: 2%;
    font-size: 32px;
  }

  .toolbar li {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
  }

  .toolbar img {
    display: none;
  }

  .headline p {
    margin: 0 16em;
    font-size: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-me {
    display: flex;
    flex-direction: row;
  }

  .about-me {
    background-image: url("images/about-me-bg.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom 10px;
    margin-bottom: 3em;
    padding-top: 3em;
  }

  .about-me p {
    margin: 0 10em;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }

  .email {
    display: none;
  }

  .background {
    background-image: url("images/bg-desktop.PNG");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom 6% right;
  }

  .para {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    margin-right: 3%;
    margin-left: 20%;
  }

  form {
    margin-top: 4em;
    display: inline-block;
  }

  #firstName,
  #lastName {
    display: inline-block;
    margin-right: 2%;
    width: 35%;
  }

  textarea {
    margin-left: 0;
    height: 50%;
    margin-bottom: 50px;
  }

  #name {
    display: none;
  }

  .get-in-touch {
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .form-btn {
    margin-top: 0;
  }

  .social-media ul {
    margin-top: 12em;
  }

  .line {
    display: none;
  }

  .track-img1 {
    display: none;
  }

  .track-img2 {
    width: 90%;
    position: relative;
    display: flex;
    height: 616px;
    border-radius: 8px;
    margin-left: 40px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    margin-top: 50px;
  }

  .popup-container .close {
    display: block;
    border: none;
    cursor: pointer;
    background-color: #ebecf0;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    margin-right: 90px;
    font-size: 10px;
  }

  .track-container h4 {
    color: #172b4d;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .track-list {
    margin-left: 40px;
  }

  .track-para {
    margin-left: 40px;
  }

  .btn1,
  .btn2 {
    display: none;
  }

  .bt1,
  .bt2 {
    display: inline-block;
    padding: 15px 20px;
    background-color: #36b37e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
  }

 
.header span {
  margin: 0;
  padding: 0;
}
.track-header-desktop {
  display: none;
}

.track-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
}

  .track-header {
    flex-grow: 1;
  }

  .track-buttons-2 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    float: right;
    position: absolute;
    right: 80px;
    left: auto;
    top: 10px;
  }
}
